h1{
    color: white;
    background-color: rgb(56, 67, 216);
    font-family: sans-serif ;
    font-size: 35px;
    padding: 20px;
}
h4{
    color: rgb(241, 232, 232);
    font-size:15px;
    background-color: rgb(21, 21, 107);
    padding: 30 px;
    text-align: right;
    
}
.recuadro{
    border: 6px solid gray;
    border-bottom: 3px solid gray ;
    color: rgb(78, 69, 69);
    margin-right: 500px;
    margin-top: 0px;
    padding-top: 0px;
}
    .abajo{
    border: 6px solid gray;
    border-top : 3px solid gray;
    margin-right: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h3{
    font-size: 30px; 
}